#h3 {
    margin-left: 565px;
}

#user {
    margin-top: 1cm;
    margin-bottom: 10px;
    margin-left: 600px;
}

#name {
    margin-bottom: 15px;
    margin-left: 600px;
}

#password {
    margin-bottom: 10px;
    margin-left: 600px;
}

#pass {
    margin-bottom: 15px;
    margin-left: 600px;
}

#button {
    margin-left: 630px;
}

#regis {
    margin-left: 585px;
    margin-top: 20px;
}

#register {
    margin-left: 640px;
}

#email {
    margin-bottom: 10px;
    margin-left: 600px;
}

#email2 {
    margin-bottom: 10px;
    margin-left: 600px;
}

#pw2b {
    margin-bottom: 10px;
    margin-left: 600px;
}

#pw2 {
    margin-bottom: 10px;
    margin-left: 600px;
}